<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <!-- Menú raíz -->
    <menuitem id="menu_pc_root" name="Gestión PC"/>

    <!-- Menú Componentes (usa la acción DEFINIDA en component_view.xml) -->
    <menuitem id="menu_pc_component"
              name="Componentes"
              parent="menu_pc_root"
              action="action_pc_component"/>

    <!-- Menú Ordenadores (usa la acción DEFINIDA en computer_view.xml) -->
    <menuitem id="menu_pc_computer"
              name="Ordenadores"
              parent="menu_pc_root"
              action="action_pc_computer"/>
</odoo>
